body{
    display: flex;
    justify-content: center;
    
}
.container{
    border: 2px solid;
    height:80vh;
    width: 70%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-areas: 
    "heading heading heading"
    "player-one p-text player-two"
    "restart restart restart";    
}

.heading{
    grid-area: heading;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: underline;

}

/* player one */
.player1{
    grid-area: player-one;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Result area */
.mid-text{
    grid-area: p-text;
    text-align: center;
    border: 1px solid;
}
.txt{
    margin: 5px;
    width: 300px;
    height: 30%;
    border-style: none;
    color: black;
    text-align: center;
}

/* player 2 */
.player2{
    grid-area: player-two; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* player 1 and 2 */
h2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}
.scores{
    grid-area: result;
    margin-top: 10px;
    margin-left: 80px;
}
#pl-score2 ,#pl-score1{
    width: 30px;
    margin-bottom: 10px;
    text-align: center;
}
#pl-input1, #pl-input2 {
    width: 100px;
    margin-bottom: 10px;
    text-align: center;
}
.pl-one-select, .pl-two-select{
    margin: 5px;
    text-align: center;
}

/* reset button */
.btn{
    grid-area: restart;
    display: flex;
    align-items: center;
    justify-content: center; 

}
.reset-btn{
    width: 50%;
    height: 50%;
    
}